<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Login Test">
    <classes>
      <class name="extent_professionalDemo.LoginDemo"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name="Registation Test">
    <classes>
      <class name="extent_professionalDemo.RegistDemo"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Logout Test">
    <classes>
      <class name="extent_professionalDemo.LogoutTestDemo"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
